@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --c-familyfont: "poppins";
  --c-color-a: #034069;
  --c-color-titulos: #034069;
  --c-color-border: #034069;
  --c-color-p: gray;
  --c-color-hover: #ff0066;
  --c-color-background: #ff0066;
  --c-color-btn: #034069;
  --c-font-size: 1rem;
  --c-font-weight: ;
  --c-padding-a: 1rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body,
ul {
  font-family: var(--c-familyfont); }

body {
  background-color: #f8f9fa;
  position: relative; }

/*BOOTSTRAP*/
/*NAV*/
nav img {
  width: 300px; }

nav .nav-link {
  font-size: var(--c-font-size);
  color: var(--c-color-a);
  text-transform: uppercase; }
  nav .nav-link:hover {
    color: var(--c-color-hover); }

nav .nav-icono-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  nav .nav-icono-contenedor .nav-icono {
    list-style: none;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem; }
    nav .nav-icono-contenedor .nav-icono:hover {
      color: var(--c-color-hover); }

/*CARDS ACTIVIDADES*/
.cards-section {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 24px; }
  .cards-section .c-card {
    border: #034069 solid; }

/*CARDS GASTRONOMIA*/
.gastronomia-container {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px; }
  .gastronomia-container .row .col .card {
    border: var(--c-color-border) solid; }
    .gastronomia-container .row .col .card .card-body .gastronomia {
      list-style: none; }
      .gastronomia-container .row .col .card .card-body .gastronomia .card-title {
        color: var(--c-color-a); }
      .gastronomia-container .row .col .card .card-body .gastronomia p {
        color: grey; }

.encabezados {
  text-align: center; }
  .encabezados .pag-titulo {
    color: var(--c-color-titulos);
    padding-top: 24px; }
  .encabezados .pag-parrafo {
    color: var(--c-color-p);
    padding-left: 24px;
    padding-right: 24px; }

/*CARDS HOME*/
.card-display {
  display: grid;
  grid-template-areas: "a-uno b-uno c-uno" "a-dos b-dos c-dos"; }
  .card-display .card-container {
    display: flex;
    flex: 0 0 25%;
    margin: 1rem;
    align-items: baseline;
    height: 200px;
    position: relative;
    border: var(--c-color-border) solid;
    border-radius: 16px;
    background-color: white; }
    .card-display .card-container div i {
      font-size: 1.5rem;
      padding: 1rem;
      color: var(--c-color-hover); }
    .card-display .card-container .card-data h3 {
      color: #034069;
      padding-bottom: 16px; }
    .card-display .card-container .card-data p {
      color: var(--c-color-p);
      padding-right: 24px; }
    .card-display .card-container .card-data a {
      position: absolute;
      right: 0;
      bottom: 0;
      padding-right: 24px;
      padding-bottom: 24px;
      text-decoration: none;
      color: var(--c-color-a); }
      .card-display .card-container .card-data a:hover {
        color: var(--c-color-hover); }

/*MAPA*/
/*HOSPEDAJES*/
.localidades-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px; }
  .localidades-container .localidades {
    width: 90%;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: var(--c-color-border) solid;
    border-radius: 16px; }
    .localidades-container .localidades .localidad {
      margin-bottom: 20px; }
      .localidades-container .localidades .localidad input[type="checkbox"] {
        display: none; }
        .localidades-container .localidades .localidad input[type="checkbox"]:checked + .localidad-label + ul {
          display: block; }
      .localidades-container .localidades .localidad .localidad-label {
        display: block;
        padding: 10px;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
        color: #034069;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 4px;
        transition: background-color 0.3s, color 0.3s; }
      .localidades-container .localidades .localidad ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: none; }
        .localidades-container .localidades .localidad ul li {
          padding: 10px;
          border-bottom: 1px solid #ccc; }
          .localidades-container .localidades .localidad ul li h3 {
            margin-top: 0;
            margin-bottom: 5px; }
          .localidades-container .localidades .localidad ul li p {
            margin: 5px 0;
            font-size: 0.9em;
            color: #666; }

/*CONTACTO*/
.form-container {
  width: 500px;
  background-color: #fff;
  padding: 20px;
  border: #034069 solid;
  border-radius: 16px;
  box-sizing: border-box;
  font-family: 'poppins';
  color: #034069;
  margin-bottom: 24px; }
  .form-container h2 {
    margin-bottom: 20px;
    text-align: center; }
  .form-container form .form-item {
    margin-bottom: 20px; }
    .form-container form .form-item label {
      display: flex;
      margin-bottom: 5px; }
    .form-container form .form-item input, .form-container form .form-item textarea {
      width: 100%;
      padding: 10px;
      border: var(--c-color-border) solid;
      border-radius: 12px;
      box-sizing: border-box; }
  .form-container form button {
    background-color: #034069;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'poppins'; }
    .form-container form button:hover {
      background-color: var(--c-color-hover); }

/*FOOTER*/
footer {
  display: grid;
  border-radius: 24px 24px 0px 0px;
  font-size: 12px;
  padding: 24px;
  background: #034069;
  grid-template-areas: "logo data";
  justify-content: space-around; }
  footer .logo-footer img {
    width: 300px;
    height: auto; }
  footer .container-data-uno {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px; }
    footer .container-data-uno div h3 {
      color: #f4f4f4;
      font-size: 16px;
      padding: 16px;
      margin: 0; }
    footer .container-data-uno div .footer-hr {
      margin: 0;
      color: inherit;
      border: 0;
      border-top: solid;
      opacity: .25;
      border-color: white; }
  footer .container-data-dos {
    display: flex;
    margin-right: 8rem; }
    footer .container-data-dos div h3 {
      padding: 12px;
      margin: 0; }
    footer .container-data-dos div p {
      color: #f4f4f4;
      margin-block-start: 0em;
      margin-block-end: 0em;
      padding: 0 12px 12px 12px; }
    footer .container-data-dos .container-derecho {
      padding-left: 24px; }
      footer .container-data-dos .container-derecho div ul {
        display: flex;
        list-style: none; }
        footer .container-data-dos .container-derecho div ul li a {
          color: #ffffff;
          font-size: 1.5rem;
          padding: 0 1rem 1rem 1rem; }
          footer .container-data-dos .container-derecho div ul li a:hover {
            color: var(--c-color-hover); }

/*MEDIAQUERIES*/
@media screen and (max-width: 1210px) {
  .card-display {
    grid-template-areas: "a-uno b-uno" "c-uno a-dos" "b-dos c-dos"; }
  footer {
    grid-template-areas: "logo" "data";
    justify-content: center;
    margin: 0px; }
  footer .container-data-uno div h3 {
    padding: 8px 0px 8px 0px; }
  footer .logo-footer {
    display: flex;
    justify-content: center; }
  footer .logo-footer img {
    padding: 8px;
    margin-left: 0;
    margin-top: 0; } }

@media screen and (max-width: 1196px) {
  .pueblos {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 24px; }
  .c-btn {
    margin-right: 5px;
    margin-left: 5px; } }

@media screen and (max-width: 992px) {
  nav .nav-icono-contenedor {
    justify-content: flex-start; } }

@media screen and (max-width: 960px) {
  .pueblos {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 24px; } }

@media screen and (max-width: 910px) {
  main p {
    width: 100%; } }

@media screen and (max-width: 740px) {
  .card-display {
    grid-template-areas: "a-uno" "b-uno" "c-uno" "a-dos" "b-dos" "c-dos"; } }

@media screen and (max-width: 712px) {
  .card-display {
    grid-template-areas: "a-uno"  "b-uno" "c-uno" "a-dos" "b-dos" "c-dos"; } }

@media screen and (max-width: 630px) {
  .pueblos {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px; }
  .c-btn {
    margin-right: 2px;
    margin-left: 2px; } }

@media screen and (max-width: 610px) {
  .container-data-dos {
    flex-direction: column;
    margin-right: 0px; }
  .logo-footer {
    padding: 8px;
    display: flex;
    justify-content: center; }
  .container-derecho {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0px; } }

@media screen and (max-width: 432px) {
  .container-data-uno {
    padding-left: 24px; } }

/*!---FORM - Cambio tamaño del formulario--*/
@media screen and (max-width: 555px) {
  .form-container {
    width: 395px; } }

@media screen and (max-width: 405px) {
  footer .logo-footer img {
    padding: 0;
    width: 300px; }
  footer .container-data-uno div h3 {
    padding-left: 50px; }
  footer .container-data-uno div hr {
    padding: 8px; }
  footer .container-data-dos div p {
    padding-left: 50px; } }

@media screen and (max-width: 400px) {
  .form-container {
    width: 345px; } }

/*TEXTO PRINCIPAL*/
main {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: center;
  align-items: center;
  text-align: center; }
  main h1 {
    color: var(--c-color-titulos);
    padding-bottom: 24px;
    padding-top: 24px; }
  main p {
    color: var(--c-color-p);
    width: 80%; }
  main hr {
    border-color: var(--c-color-a);
    width: 50%;
    margin: 24px; }

/*TARJETAS DE HOME*/
