@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --c-familyfont: "poppins";
    --c-color-a: #034069;
    --c-color-titulos: #034069;
    --c-color-border: #034069;
    --c-color-p: gray;
    --c-color-hover: #ff0066;
    --c-color-background: #ff0066;
    --c-color-btn: #034069;
    --c-font-size: 1rem;
    --c-font-weight: ;
    --c-padding-a: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
ul {
    font-family: var(--c-familyfont);
}

body {
    background-color: #f8f9fa;
    position: relative;
}

nav img {
    width: 200px;
}


.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--c-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--c-color-a);
    text-decoration: none;
    text-transform: uppercase;
    background: none;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link:hover {
    color: var(--c-color-hover);
}

.pag-titulo {
    color: var(--c-color-titulos);
    padding-top: 24px;
}

.pag-parrafo {
    color: var(--c-color-p);
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
}

/*!---Aplica estilos a los iconos de redes ---*/
.nav-icono {
    list-style: none;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.nav-icono-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*!----MAIN----*/
main {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

main h1 {
    color: var(--c-color-titulos);
    padding-bottom: 24px;
    padding-top: 24px;
}

main p {
    color: var(--c-color-p);
    width: 80%;

}

main hr {
    border-color: var(--c-color-a);
    width: 50%;
    margin: 24px;
}

/*!----CARDS----*/
.card-display {
    display: grid;
    grid-template-areas:
        "a-uno b-uno c-uno"
        "a-dos b-dos c-dos";
}

.card-container {
    display: flex;
    flex: 0 0 25%;
    margin: 1rem;
    align-items: baseline;
    height: 200px;
    position: relative;
    border: var(--c-color-border) solid;
    border-radius: 16px;
    background-color: white;

}

.card-data h3 {
    color: #034069;
    padding-bottom: 16px;
}

.card-data p {
    color: var(--c-color-p);
    padding-right: 24px;
}

.card-container i {
    font-size: 1.5rem;
    padding: 1rem;
    color: var(--c-color-hover);
}

.card-data a {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 24px;
    padding-bottom: 24px;
    text-decoration: none;
    color: var(--c-color-a);
}

/*!----PAGINA DE ACTIVIDADES----*/
.cards-section {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 24px;
}

.c-card {
    border: #034069 solid;
}

/*!----DONDE DORMIR SECTION----*/
.localidades-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
    
}

.localidades {
    width: 90%;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: var(--c-color-border) solid;
    border-radius: 16px;
}

.localidad {
    margin-bottom: 20px;
}

.localidad-label {
    display: block;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: #034069;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.hoteles {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

.localidad input[type="checkbox"] {
    display: none;
}

.localidad input[type="checkbox"]:checked+.localidad-label+.hoteles {
    display: block;
}

.hotel {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.hotel h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.hotel p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #666;
}

.gastronomia{
    list-style: none;
}
.gastronomia h5{
    color: var(--c-color-a);
}
.gastronomia p{
    color: grey;
}

.gastronomia-container {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}
/*!---PUEBLOS---*/
.pueblos{
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 24px;
}
.c-btn{
    background-color: var(--c-color-btn);
    border: none;
    border-radius: 16px;
    margin-left: 10px;
    margin-right: 10px;
}
.c-btn:hover{
    background-color: var(--c-color-hover);
}
/*!----FOOTER----*/
footer {
    display: grid;
    border-radius: 24px 24px 0px 0px;
    font-size: 12px;
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
    background: #034069;
    grid-template-areas: "logo data";}
.container-data-uno {
    display: flex;
    flex-direction: column;
    padding-left: 12px;}
.container-data-dos {
    display: flex;
    margin-right: 8rem;}
footer .container-data-uno h3 {
    color: #f4f4f4;
    font-size: 16px;}
footer .container-data-uno strong {
    font-size: 14px;}
footer .container-data-dos p {
    color: #f4f4f4;
    margin-block-start: 0em;
    margin-block-end: 0em;}
footer .container-data-dos ul {
    display: flex;
    list-style: none;}
footer .container-data-dos ul li a {
    color: #f4f4f4;
    font-size: 1.5rem;
    padding: 1rem}
.container-derecho {
    padding-left: 24px;}
footer img {
    width: 250px;
    height: auto;
    margin-left: 4rem;
    margin-top: 2rem;}
footer hr {
    border-color: white;}

/*Formulario de contacto*/
.form-container {
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border: #034069 solid;
    border-radius: 16px;
    box-sizing: border-box;
    font-family: 'poppins';
    color: #034069;
    margin-bottom: 24px;

}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-item {
    margin-bottom: 20px;
}

.form-icon {
    color: #ff0066;
}

label {
    display: flex;
    margin-bottom: 5px;

}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: #034069 solid;
    border-radius: 12px;
    box-sizing: border-box;
}

button {
    background-color: #034069;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'poppins';
}

button:hover {
    background-color: #ff0066;
}

.mapa {
    margin-bottom: 24px;
}

/*Animacion del menu principal*/

nav ul li a:hover,
footer ul li a i:hover,
.card-data a:hover {
    color: #ff0066;
}

.localidad-label:hover {
    background-color: #e0e0e0;
}



/*!---NAV - Cambio la ubicacion de los iconos de redes--*/
@media screen and (max-width: 992px) {
    .nav-icono-contenedor {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 740px) {
    .card-display {
        grid-template-areas:
            "a-uno"
            "b-uno"
            "c-uno"
            "a-dos"
            "b-dos"
            "c-dos";
    }
}
/*!---FOOTER --*/
@media screen and (max-width: 1210px) {
    .card-display {
        grid-template-areas:
            "a-uno b-uno"
            "c-uno a-dos"
            "b-dos c-dos";
    }

    footer {
        grid-template-areas:
            "logo"
            "data";
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }
    footer h3{
        padding: 16px 0px 0px 0px;
    
    }
    .logo-footer {
        padding: 16px;
        display: flex;
        justify-content: center;

    }
    footer img{
        margin: 0px;
    }
}
@media screen and (max-width: 712px) {
    .card-display {
        grid-template-areas:
            "a-uno" 
            "b-uno"
            "c-uno"
            "a-dos"
            "b-dos"
            "c-dos";
    }
}
@media screen and (max-width: 610px) {
    .container-data-dos {
        flex-direction: column;
        margin-right: 0px;
    }

    .logo-footer {
        padding: 16px;
        display: flex;
        justify-content: center;

    }

    .container-derecho {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding: 0px;
    }
}

@media screen and (max-width: 432px) {

}

/*!---FORM - Cambio tamaño del formulario--*/
@media  screen and (max-width: 555px) {
    .form-container{
        width: 395px;
    }
}
@media  screen and (max-width: 400px) {
    .form-container{
        width: 345px;
    }
}