@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./base";
/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONT FAMILY */
body,
ul {
    font-family: $c-familyfont;
}

/* GENERAL */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: nth($colores, 5);
    position: relative;
}

/* HEADER, SECTION, FOOTER */
header, section, footer {
    flex: 0 0 auto;
}
section {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
    margin-top: auto;
}
/*PORTADAS*/
.encabezados {
    text-align: center;
    background-size: cover;
    /* Ajusta la imagen para que cubra toda la sección */
    background-position: center;
    /* Centra la imagen */
    padding: 50px;
    margin-bottom: 24px;
    .pag-titulo {
        @include estilo-titulos;
        font-size: 1.5em;
        color: nth($colores, 3);
    }
    .pag-parrafo {
        @include estilo-parrafo;
        padding-left: 24px;
        padding-right: 24px;
        color: nth($colores, 3),
    }
    .sombra {
        background-color: black;
        z-index: 1;
    }
}
/*MODIFICACIONES A LOS COMPONENTES DE BOOTSTRAP*/
/*NAV DE BOOTSTRAP*/
nav {
    .container-fluid {
        .collapse {
            ul {
                li{
                    a{
                        color: nth($colores, 1);
                    }
                }
                .underline {
                    position: relative;
                    font-size: $c-font-size;
                    color: nth($colores, 1);
                    text-transform: uppercase;
                    &::after {
                        content: '';
                        /* Crea un contenido vacío */
                        display: block;
                        /* Convierte el pseudo-elemento en un bloque */
                        width: 0;
                        /* Ancho inicial del subrayado */
                        height: 3px;
                        /* Altura del subrayado */
                        background: nth($colores, 1);
                        /* Color del subrayado */
                        transition: width 0.3s;
                        /* Transición suave para el efecto de subrayado */
                        position: absolute;
                        /* Posiciona el pseudo-elemento de forma absoluta */
                        left: 0;
                        /* Alinea el pseudo-elemento a la izquierda */
                        bottom: 0px;
                        /* Coloca el pseudo-elemento debajo del texto */
                    }
                    &:hover::after {
                        width: 100%;
                        /* Expande el subrayado al 100% del ancho del enlace */
                    }
                    .nav-link {
                        &:hover {
                            color: nth($colores, 4);
                        }
                    }
                }
                .actual {
                    font-weight: 600;
                    color: nth($colores, 4);
                }
            }
        }
    }
    img {
        width: 280px;
        padding-left: 24px;
    }
    .nav-icono-contenedor {
        flex-direction: row;
        .nav-icono-titulo {
            color: nth($colores, 1);
            margin: 0px;
        }
        .nav-icono {
            list-style: none;
            padding-left: 1rem;
            font-size: 1.5rem;
            color: nth($colores, 1);
            &:hover {
                color: nth($colores, 4)
            }
        }
    }
}
/*MODAL HOSPEDAJES, PUEBLOS, GASTRONOMIA*/
.modal {
    .modal-dialog {
        .modal-content {
            .modal-header {
                h5 {
                    @include estilo-titulos;
                    font-size: 1.4em;
                }
            }
            .modal-body {
                .hotel,
                .pueblos {
                    .galeria {
                        display: flex;
                        flex-direction: row;
                        flex: 1 33%;
                        img {
                            width: 33%;
                            padding: 5px;
                            border-radius: 16px;
                        }
                    }
                    h3 {
                        @include estilo-titulos;
                        font-size: 1.2em;
                    }
                    p {
                        @include estilo-parrafo;
                    }
                    ul {
                        li::marker {
                            color: nth($colores, 1)
                        }
                    }
                }
            }
            .modal-footer{
                button{
                    background-color: nth($colores, 1);
                    border: none;
                    &:hover{
                        background-color: nth($colores, 4);
                    }
                }
            }
        }
    }
}

/*MAPA*/
.mapa {
    padding-bottom: 24px;
}