@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --c-familyfont: "poppins";
    --c-color-a: #034069;
    --c-color-titulos: #034069;
    --c-color-border: #034069;
    --c-color-p: gray;
    --c-color-hover: #ff0066;
    --c-color-background: #ff0066;
    --c-color-btn: #034069;
    --c-font-size: 1rem;
    --c-font-weight: ;
    --c-padding-a: 1rem;
}
/*VARIABLES GLOBALES*/
$c-familyfont: "poppins";
$c-color-a: #034069;
$c-color-titulos: #034069;
$c-color-p: gray;
$c-color-a-l: white;
$c-color-titulos-l: white;
$c-color-p-l: white;
$c-color-hover: #ff0066;
$c-font-size: 1rem;
$c-padding-a: 1rem;
$c-color-border: #034069;
$c-color-acento: #ff0066; 
$c-color-background: #f8f9fa;
$c-color-b-item: white;
$c-color-b-footer: #034069;
$c-color-btn: #034069;




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
ul {
    font-family: $c-familyfont;
}

body {
    background-color: $c-color-background;
    position: relative;
}

/*BOOTSTRAP*/

/*NAV*/
nav {
    img {
        width: 300px;
    }

    .nav-link {
        font-size: $c-font-size;
        color: $c-color-a;
        text-transform: uppercase;
        &:hover {
            color: $c-color-hover;
        }
    }

    .nav-icono-contenedor {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .nav-icono {
            list-style: none;
            padding-right: 1rem;
            padding-left: 1rem;
            font-size: 1.5rem;
            color: $c-color-a;
            &:hover{
                color: $c-color-hover;
            }
        }
    }
}

/*CARDS ACTIVIDADES*/
.cards-section {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 24px;

    .c-card {
        border: $c-color-border solid;
    }
}

/*CARDS GASTRONOMIA*/
.gastronomia-container {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;

    .row {
        .col {
            .card {
                border: $c-color-border solid;

                .card-body {
                    .gastronomia {
                        list-style: none;

                        .card-title {
                            color: $c-color-a;
                        }

                        p {
                            color: $c-color-p;
                        }
                    }
                }
            }
        }
    }
}




.encabezados {
    text-align: center;

    .pag-titulo {
        color: $c-color-titulos;
        padding-top: 24px;
    }

    .pag-parrafo {
        color: $c-color-p;
        padding-left: 24px;
        padding-right: 24px;
    }
}