.card-display {
    display: grid;
    grid-template-areas:
        "a-uno b-uno c-uno"
        "a-dos b-dos c-dos";
    padding: 0 16px 24px 16px;

    .card-container {
        display: flex;
        flex: 0 0 25%;
        margin: 1rem;
        align-items: baseline;
        height: 200px;
        position: relative;
        border: $c-color-border solid;
        border-radius: 16px;
        background-color: $c-color-b-item;

        div {
            i {
                font-size: 1.5rem;
                padding: 1rem;
                color: $c-color-acento;
            }
        }

        .card-data {
            h3 {
                color: $c-color-titulos;
                padding-bottom: 16px;
            }

            p {
                color: $c-color-p;
                padding-right: 24px;
            }

            a {
                position: absolute;
                right: 0;
                bottom: 0;
                padding-right: 24px;
                padding-bottom: 24px;
                text-decoration: none;
                color: $c-color-a;

                &:hover {
                    color: $c-color-hover;
                }
            }
        }
    }
}