.card-display {
    display: grid;
    grid-template-areas:
        "a-uno b-uno c-uno"
        "a-dos b-dos c-dos";
    padding: 0 16px 24px 16px;

    .card-container {
        display: flex;
        flex: 0 0 25%;
        margin: 1rem;
        align-items: baseline;
        height: 200px;
        position: relative;
        border: map-get($cards, borde);
        border-radius: map-get($cards , redondez);
        background-color: map-get($cards, color-fondo);

        &:hover {
            border: nth($colores, 4), solid;
        }
    }

    div {
        i {
            font-size: 1.5rem;
            padding: 1rem;
            color: nth($colores, 4);
        }
    }

    .card-data {
        h3 {
            @include estilo-titulos;
            font-size: 1.2em;
            padding-bottom: 16px;
        }

        p {
            @include estilo-parrafo;
            padding-right: 24px;
        }

        a {
            position: absolute;
            right: 0;
            bottom: 0;
            padding-right: 24px;
            padding-bottom: 24px;
            text-decoration: none;
            color: nth($colores, 1);

            &:hover {
                color: nth($colores, 4);
                font-weight: bold;
            }
        }
    }
}