.form-container {
    width: 500px;
    border: map-get($cards, borde);
    border-radius: map-get($cards , redondez);
    background-color: map-get($cards, color-fondo);
    padding: 20px;
    box-sizing: border-box;
    font-family: $c-familyfont;
    color: nth($colores, 1);
    margin-bottom: 24px;

    h2 {
        @include estilo-titulos;
        font-size: 1.2em;
        margin-bottom: 20px;
        text-align: center;

        i {
            color: nth($colores, 4);
        }
    }

    form {
        .form-item {
            margin-bottom: 20px;

            label {
                display: flex;
                margin-bottom: 5px;
            }

            input,
            textarea {
                width: 100%;
                padding: 10px;
                border: $borde;
                border-radius: 12px;
                box-sizing: border-box;
            }
        }

        button {
            background-color: nth($colores, 1);
            color: nth($colores, 3);
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-family: 'poppins';

            &:hover {
                background-color: nth($colores, 4);
            }
        }
    }
}