/* CAROUSEL */
section{
    .carousel{
        .carousel-inner{
            .carousel-item{
                img{
                    min-height: 250px; /* Altura mínima para pantallas grandes */
                    object-fit: cover;
                }
            }
        }
    }
}
/*TEXTO PRINCIPAL*/
main{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1{
        @include estilo-titulos;
        padding-bottom: 16px;
        padding-top: 16px;
        margin: 8px 0 0 0;
    }
    p{
        @include estilo-parrafo;
        width: 80%;
        margin: 0px;
        padding-top: 8px;
        margin-bottom: 8px;
    }
    hr{
        border-color: nth($colores, 1);
        width: 50%;
        margin: 10px;
    }
}
/*CARDS*/
.card-display {
    display: grid;
    grid-template-areas:
        "a-uno b-uno c-uno"
        "a-dos b-dos c-dos";
    padding: 0 16px 24px 16px;
    .card-container {
        display: flex;
        flex: 0 0 25%;
        margin: 1rem;
        align-items: baseline;
        height: 200px;
        position: relative;
        border: map-get($cards, borde);
        border-radius: map-get($cards , redondez);
        background-color: map-get($cards, color-fondo);
        &:hover {
            border: nth($colores, 4), solid;
        }
    }
    div {
        i {
            font-size: 1.5rem;
            padding: 1rem;
            color: nth($colores, 4);
        }
    }
    .card-data {
        h3 {
            @include estilo-titulos;
            font-size: 1.2em;
            padding-bottom: 16px;
        }
        p {
            @include estilo-parrafo;
            padding-right: 24px;
        }
        a {
            position: absolute;
            right: 0;
            bottom: 0;
            padding-right: 24px;
            padding-bottom: 24px;
            text-decoration: none;
            color: nth($colores, 1);
            &:hover {
                color: nth($colores, 4);
                font-weight: bold;
            }
        }
    }
}